/* comment line */

/* "*" içinde yapılanlar tüm projeyi etkiler. */
* {
  /* 24%=padding+border+width; */ /* Verilen değere göre kendim ayarlarım demek oluyor. */
  /* 24%=padding+border+height;  */
  box-sizing: border-box; /* Sayfayı düzenli hale getirir. */
  margin: 0px;
  padding: 0;
}

/* picture_css class'ı */
.picture_css {
  max-width: 100%;
  /* object-fit: none; */
  /* object-position: bottom; */
  /* position: absolute; */
  /* position: fixed; */
  /* position: relative; */
  /* top: 5px; */
}

/* header */
header {
  height: 50vh;
  background-image: url(../img/resim3.jpg);
  background-position: left;
  background-size: cover;
  /* background-image: linear-gradient(blue, red); */
}

.paragrafClass {
  background: black;
  color: white;
  font-size: 25px !important;

  /* padding: iç boşluk */
  /* padding: 20px 40px 60px 80px; */
  /* padding-top: 20px;
  padding-top: 40px;
  padding-bottom: 60px;
  padding-right: 80px; */
  padding: 25px 50px;

  /* margin: dış boşluk */
  margin: 55px 25px;
  /* bazen istediğimiz gibi değiştirilmiyor */
}

.div_css {
  /* renk: hexadecimal: 16: 0 1 2 3 4 5 6 7 8 9 a b c d e f */
  /* background-color: #000000; arka planı siyah yapar */
  background-color: brown;
  /* color: #fff; */
  /* color: rgb(255, 255, 255); */
  /* color: rgba(255, 255, 255, 0.5); */
  color: rgba(255, 255, 255, 1);
  height: 200px;
  /* width: 180px; */
  width: 24%;
  /* display: inline-block :aynı satıra getirir. */
  display: inline-block;
  border: 5px solid rgb(29, 50, 240);
  margin-bottom: 2px;
  /* border-radius: 50%;  */ /* yuvarlak çerçeve çizer */
  /* border-bottom-left-radius: 18%; */ /* alt-sol köşeyi yuvarlak hale getirir.*/
  font-size: 25px !important;
  font-weight: 900; /* koyu ve klaın yazar */
  font-style: italic;
  font-family: "Dancing Script", cursive; /* Browse font sayfasından aldık.*/
  text-align: center;
  /* text-align: justify; */ /* text'i iki yana aynı hizada yazar*/
  text-transform: uppercase; /* büyük/küçük yazı boyutu */
  text-decoration: underline; /* altı çizili yazı */
  /* text-decoration: line-through; yazının üstünü çizer */
}

/* ":" ile class olur. hover ile yapılan taglar üstüne gelince çalışır. */
.div_css:hover {
  background-color: blue;
  color: brown;
  box-shadow: -10px 2 px 30px 3 px rgba(0, 0, 0, 1); /* arkada gölgelendirme yapar.*/
  width: 35%;
  /* transition: all 2s;*/ /* üzerine gelince yavaş yavaş div, verilen saniye kadar açılır. */
  transition: all 2s;
  transform: rotate(
    8deg
  ); /* verilen derece kadar döndürme işlemi yapar(rotate). */
}

.p1 {
  text-align: justify; /* justify: iki yana hizalar */
  text-decoration: none;
  text-indent: 20px; /* girinti */
  margin: 25px 15px;
  letter-spacing: 0.1px; /* harfler arası boşluk */
  word-spacing: 2px; /* kelimeler arası boşluk */
  line-height: 21px; /* satırlar arası uzaklık */
  /* column-count: 3;*/ /* paragrafı kolonlara ayırır. */

  /* COS: chrome opera safari */
  -webkit-column-count: 3;
  /* mozilla*/
  -moz-column-count: 3;
  column-rule: 1px solid rgba(0, 0, 0, 0.5); /* kolonlar arasına çizgi çizer. */
  -webkit-column-rule: 1px solid rgba(0, 0, 0, 0.5);
  -moz-column-rule: 1px solid rgba(0, 0, 0, 0.5);
}

.float_div {
  color: black;
  background-color: orange;
  margin-right: 25px;
  height: 150px;
  display: inline-block;
  width: 24%;
  font-size: 25px;
  float: left; /* div yapılarını kullanmak istiyorsak float kullanmalıyız. */
}

/* :: ile element olur */
.clearfix_auto::before {
  content: "";
  display: block;
  clear: both; /* paragrafı aşağıya alır*/
}

ul {
  margin-left: 25px;
  list-style-type: none; /* listenin önündeki noktaları kaldırır. */
  /* list-style-type: upper-roman; */ /* liste simgesi */
  text-decoration: none;
  /* text-decoration: line-through; */
}

ul li {
  background-color: brown;
  margin-top: 8px;
  padding: 5px;
  color: white;
  text-transform: uppercase;
}

ul li:hover {
  background-color: blue;
  margin-top: 8px;
  padding: 5px;
  color: white;
  text-transform: lowercase;
  cursor: pointer;
}

/* selector */
/* p = bütün p'ler
div,p{} ==> tüm div'ler ve tüm p'ler
div > p{} ==> parenti div olacak child: tüm p
div ~ p{} ==> div ile p aynı hizada tüm p'ler */

h1::after {
  content: " -yazar: ...";
}

#special::first-letter {
  /* first-letter: ilk harf*/
  text-transform: uppercase;
  font-size: 55px;
}

#special:hover {
  text-shadow: 0.6px 0.5px rgba(90, 26, 79, 0.4);
}

/* back  */
#back_top {
  background-color: brown;
  color: white;
  position: fixed;
  bottom: 5px;
  right: 10px;
  text-transform: uppercase;
  padding: 8px;
}

#back_top:hover {
  background-color: blue;
  color: white;
}
/* Responsive yapılar */
/* media query msa */
/* 10 <=x<=599 */
@media screen and (min-width: 10px) {
  .div_css {
    width: 100%;
  }
  #responsive_tag {
    background-color: red;
    color: green;
  }
}

/* 600 <=x<=799 */
@media screen and (min-width: 600px) {
  .div_css {
    width: 49%;
  }

  #responsive_tag {
    background-color: black;
    color: yellow;
  }
}

/* 800 <=x<=1199 */
@media screen and (min-width: 800px) {
  .div_css {
    width: 32%;
  }

  #responsive_tag {
    background-color: blue;
    color: orange;
  }
}

/* x>=1200 */
@media screen and (min-width: 1200px) {
  .div_css {
    width: 24%;
  }

  #responsive_tag {
    background-color: green;
    color: chocolate;
  }
}
